<footer class="site-footer" style="background-color: #f4f4f4; padding: 2rem 0rem;">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs center-xs">
        <ul class="list-inline">
          <li>
            <a href="http://ceara.gov.br" target="_blank">
              {% img "governo.png" width:'auto', height:"60px" %}
            </a>
          </li>
          <li>
            <a href="http://www.fortaleza.ce.gov.br/" target="_blank">
              {% img "prefeitura.png" width:'auto', height:"60px" %}
            </a>
          </li>
          <li>
            <a href="http://ufc.br" target="_blank">
              {% img "ufc.png" width:"50px" height:"auto" %}
            </a>
          </li>
          <li>
            <a href="http://www.virtual.ufc.br" target="_blank">
              {% img "virtual.png" width:"60px" height:"auto"%}
            </a>
          </li>
          <li>
            <a href="http://lme.ufc.br" target="_blank">
              {% img "lme.svg" width:"100px" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- <div style="background-color: #f4f4f4; padding: 2rem 0rem;">
  <div class="container-fluid">
    <div class="row end-xs">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li>
            <a href="http://lme.ufc.br" target="_blank">
              {% img "lme.svg" width:"110px" %}
            </a>
            <li>
              <a href="http://www.virtual.ufc.br" target="_blank">
                {% img "virtual.png" width:"60px" height:"auto"%}
              </a>
            </li>
          </li>
          <li>
            <a href="http://ufc.br" target="_blank">
              {% img "ufc.png" width:"50px" height:"auto" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
