<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/" title="{{ site.title }}">
          <span class="icon-aedes-logo"></span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-link" sref-scroll="#about">Sobre</a>
            <a class="page-link" sref-scroll="#about2">Aplicativo</a>
            <a class="page-link" sref-scroll="#o_jogo">Jogo</a>
            <a class="page-link" sref-scroll="#o_quadrinho">Quadrinho</a>
            <a class="page-link" href="cursos/">Cursos</a>
            <a class="page-link" href="http://app.aedesemfoco.lme.ufc.br">Notícias</a>
            <!-- <a class="page-link" href="http://app.aedesemfoco.lme.ufc.br">Entrar</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
