footer{
  background-color: $primary;
  color: white;
  padding: 2em 0px;
  .icon-aedes-logo{
    font-size: 56px;
    &:before{
      color: $primary !important;
    }
  }
  .title{
    color: white;
  }
}
