.color-primary{
  color: $primary;
}

.margin-left{
  margin-left: 1em;
}

.margin-lg-left{
  margin-left: 2.1em;
}

.margin-center{
  margin-center: 1em;
}

.margin-lg-center{
  margin-center: 2.1em;
}

.margin-right{
  margin-right: 1em;
}

.margin-lg-right{
  margin-right: 2.1em;
}

.margin-top{
  margin-top: 1em;
}

.margin-lg-top{
  margin-top: 2.1em;
}

.margin-bottom{
  margin-bottom: 1em;
}

.margin-lg-bottom{
  margin-bottom: 2.1em;
}

// Filters
.gray-scale{
  @include filter(grayscale(100%));
  opacity: 0.8;
}

.box-shadow-xs {
  border: none;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.justify-content-space-evenly {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}
