.color-primary{
  color: $primary;
}


.margin-left{
  margin-left: 1em;
}

.margin-lg-left{
  margin-left: 2.1em;
}

.margin-center{
  margin-center: 1em;
}

.margin-lg-center{
  margin-center: 2.1em;
}

.margin-right{
  margin-right: 1em;
}

.margin-lg-right{
  margin-right: 2.1em;
}

.margin-top{
  margin-top: 1em;
}

.margin-lg-top{
  margin-top: 2.1em;
}

.margin-bottom{
  margin-bottom: 1em;
}

.margin-lg-bottom{
  margin-bottom: 2.1em;
}
