@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20pt;
  color: transparentize($black, 0.5);
}

.heading{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 52px;
  color: $black;
  margin: 0.25em 0;
  line-height: 1;
}

.title{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16pt;
  color: $black;
  text-transform: uppercase;
  margin: 1em 0;
}

.subhead, .caption{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  color: transparentize($black, 0.5);
}

.subhead{
  font-size: 14pt;
}

.caption{
  font-size: 11pt;
}


p{
  margin: 0.35em 0;
}
