<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}
    {% js app %}
    {% bundle %}
      - https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js
      - https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.js
      - https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css
      - https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js
    {% endbundle %}
  </body>

</html>
